.box-modal {
    box-shadow: 0 0 0 0.1rem #635b57;
    padding: 1% 2%;
}

.name-class {
    font-weight: 800;
}

.text-class {
    font-size: 20px;
    font-weight: 600;
}

.img-class {
    border-radius: 50%;
    min-height: 60px;
}

.icons-class {
    width: 30px;
    height: 30px;
}